@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Isso junta a altura e largura do conteudo à altura e lagura do elemento  */
    text-decoration: none;
}
/*Reset CSS. Isso remove todas as preconfigurações que são definas pelo navegar evitando comportamento inesperados*/
body {
    font-size: 100%;
    background: linear-gradient(to top left,rgb(2, 33, 51),rgba(34, 247, 219, 0.74));
}
.cabecalho {
    height: 100px;
    width: 100%;
    margin: 0 auto; /*Isso deixa a tag nav no centro do header */ 
    display: flex; /*Para usar flex box*/
    flex-direction: row; /*indica que os itens vão estar em linha*/
    align-items: center; /*os itens ficam no meio do container*/
    justify-content: center;
    background-color: rgb(2, 33, 51);
}
.cabecalho a {
    font-size: 40px;
    color: #ededf0;
    position: relative;
    margin: 0% 3% 0% 3%;
}
.cabecalho a:hover {
    color: rgb(34, 247, 219);
}
.sobremim {
    width: 80%;
    height: 300px;
    margin: 0 auto;
    display: flex;
    margin-top: 50px;
}
#foto {
    height: 250px;
    height: 250px;
    border-radius: 25%;
    border: 5px solid rgb(2, 33, 51);
}
#foto:hover {
    position: absolute;
    height: 300px;
    height: 300px;
    box-shadow:  -5px 22px 70px 20px rgb(255, 255, 255);
}
#bio {
    position: absolute;
    float: right;
    width: 55%;
    padding: 15px;
    margin: 15px 0px 0px 320px; 
    font-size: 22px;
    color: #ededf0;
    font-family: 'Sansita Swashed', cursive;
    
}
.projetosselection {
    width: 80%;
    height: 450px;
    margin: 0 auto;
    
}
#projetos {
    text-align: center;
    color: rgb(2, 33, 51);
    font-size: 45px;
    margin: 30px 0px 30px 0px;
    width: 100%;
    height: 50px;
    position: relative;
    display: block;
}
.blocoProjetos {
    width: 23%;
    height: 350px;
    border: 3px solid #c5c5c5;
    margin: 6px;
    float: left;
    background-color: rgb(25, 65, 90);
    
}
.blocoProjetos:hover {
    width: 26%;
    height: 370px;
    box-shadow:  -5px 22px 70px 20px rgb(255, 255, 255);
    background-color: rgba(28, 211, 187, 0.753);
}
.blocoProjetos:hover p {
    color: black;
    font-weight: 700;
}
.blocoProjetos p {
    padding: 10px;
    text-align: left;
    position: relative;
    color: #ededf0;
    font-family: 'Sansita Swashed', cursive;
}
#fotoprojeto {
    position: relative;
    width: 100%;
    height: 50%;
    
}
.cursos {
    width: 80%;
    /* height: 650px;  */
    margin: 0 auto;
}
#cursos {
    text-align: center;
    color: rgb(2, 33, 51);
    font-size: 45px;
    margin: 30px 0px 70px 0px;
    width: 100%;
    height: 50px;
}
#text {
    font-size: 20px;
    color: #ededf0;
    font-family: 'Sansita Swashed', cursive;
}
.canais {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.canais div {
    margin: 0px 0px 0px 10px;
    display: flex;
    flex-direction: row;
}
.canais div a img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 3px solid rgb(2, 33, 51)
}
.canais div p {
    margin: 10px 0px 0px 10px;
    display: inline;
    color: rgb(2, 33, 51);
    font-family: 'Sansita Swashed', cursive;
    font-weight: bolder;
}
.texto {
    margin: 50px 0px 50px 0px;
    display: flex;
    justify-content: space-evenly;
}
.texto div {
    font-size: 20px;
    width: 40%;
    display: flex;
    background-color: rgb(25, 65, 90);
    font-weight: 900;
    border: 3px solid #c5c5c5;
}
.texto div p {
    padding: 10px;
    color: #ededf0;
    font-family: 'Sansita Swashed', cursive;
    text-align: left;
    font-weight: 400;
}
.sites {
    display: flex;
    height: 300px;
}
.sites div {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    
    
}
.sites div a img {
    width: 300px;
    height: 300px;
    border: 5px outset rgb(2, 33, 51)
    
}
.sites div a img:hover {
    width: 350px;
    height: 350px;
    box-shadow:  -5px 22px 70px 20px rgb(255, 255, 255);
}
.skills {
    width: 80%;
    height: 770px;
    margin: 0 auto;
}
#skills {
    text-align: center;
    color: rgb(2, 33, 51);
    font-size: 45px;
    margin: 30px 0px 30px 0px;
    width: 100%;
    height: 50px;
    position: relative;
    display: block;
}
ul li {
    color: rgb(25, 65, 90);
    font-size: 30px;
    font-weight: bolder;
}
ul p {
    color: #ededf0;
    font-family: 'Sansita Swashed', cursive;
    font-size: 25px;
    padding: 10px;
}
.contato {
    width: 80%;
    height: 400px;
    margin: 0 auto;
}
#contato {
    text-align: center;
    color: rgb(2, 33, 51);
    font-size: 45px;
    margin: 30px 0px 30px 0px;
    width: 100%;
    height: 50px;
    position: relative;
    display: block;
}
.mensagem {
    position: relative;
    display: block;
}
#nome {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 250px;
    background-color: rgb(207, 198, 193);
    border: 5px solid rgb(2, 33, 51);
}
#emailkk{
    position: relative;
    display: block;
    margin: 20px auto;
    width: 300px;
    background-color: rgb(207, 198, 193);
    border: 5px solid rgb(2, 33, 51);
}
#mensagem {
    position: relative;
    display: block;
    margin: 0 auto;
    background-color: rgb(207, 198, 193);
    border:  5px solid rgb(2, 33, 51);
}
#enviar {
    position: relative;
    display: block;
    margin: 15px auto;
    width: 100px;
    height: 30px;
    font-size: 20px;
    background-color: rgb(207, 198, 193);
    border: groove rgb(2, 33, 51);
}
.rodape {
    width: 100%;
    height: 100px;
    background-color: rgb(2, 33, 51);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#social {
    position: relative;
    display: block;
    margin-left: 40%;
    color: #ededf0;
    font-size: 45px;
}
#linksrodape{
    height: 50px;
    width: 50px;
    margin: 0px 80px 0px 80px;
}