body {
    width: 100%;
    height: 100%;
    margin: auto 0;
}
.menu {
    background-color: gold;
    height: 60px;
    font-size: 20px;
    text-align: center;
}
h2  {
    text-align: center;
    background-color: gold;
}
li {
    background-color: gold;
    font-size: 20px;
}